<!-- Widget form  -->
<form id="dashboard-form" name="dashboard-form">
    <input type="hidden" name="dashboard_type" value="{{ dashboard_type }}" />
</form>
<!-- Widget wrapper  -->
<div id="dash1" class="dashboard">
    {{ dash1 | raw }}
</div>
<div id="dash2" class="dashboard">
    {{ dash2 | raw }}
</div>