<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
   	  <button aria-hidden="true" data-dismiss="modal" class="close" type="button"><h6><i class="fa fa-times"></i></h6></button>
      <h4 id="myModalLabel" class="modal-title">
        {% block page_title %}
          {{ page_title }}
        {% endblock %}
      </h4>
    </div>
    <div class="modal-body">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-default" type="button">
  	    Cancel
      </button>
      {% block submit_button %}
        {{ submit_button }}
      {% endblock %}
    </div>
  </div>
</div>